/*
 * Base structure
 */

body {padding-top: 50px; font-family: 'Lato', sans-serif; font-size:14px; color:#8e8b8b;}
.sub-header {padding-bottom: 10px;border-bottom: 1px solid #eee;}
.navbar-fixed-top {border: 0;}
.dark-blue-bar {height:99px; background-color:#2c3e50;}
.sidebar {display: none; width:12% !important;}
	.sidebar li {border-bottom:1px solid #988d8c; font-size:20px;}
	.sidebar li a {padding-top:40px; padding-bottom:40px; color:#2c3e50;}
		.sidebar li a:hover {color:#333; background-position: left bottom;}
#logo {margin-top:-10px;}
.nav-sidebar {margin-right: -21px;margin-bottom: 20px;margin-left: -20px;}
.nav-sidebar > li > a {padding-right: 20px;padding-left: 20px;}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {color: #428bca;background-color: #428bca;}
.main {padding: 20px; margin-top:115px;}
.main .page-header {margin-top: 0;}
.green-bar {height:56px; background:url(../images/header-bar.jpg) repeat-x;}
.col-md-offset-2 {margin-left:13.66%;}
tr:hover {background-color:#f3facf !important;}
.navbar-right a {font-size:24px;}
.navbar-right-pushdown {margin-top:32px;}
.navbar-right-pushdown-icons {margin-top:22px;}
.navbar-right {margin-right:0px;}
#gear-dropdown>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {background:#fff;}
.dropdown-menu>li>a {color:#428bca;font-size:14px;}
.dropdown ul.dropdown-menu {border-radius:4px;box-shadow:none;margin-top:20px;width:300px;font-size:14px;}
.dropdown ul.dropdown-menu:before {content: "";border-bottom: 10px solid #fff;border-right: 10px solid transparent;border-left: 10px solid transparent;position: absolute;top: -10px;right: 16px;z-index: 10;}
.dropdown ul.dropdown-menu:after {content: "";border-bottom: 12px solid #ccc;border-right: 12px solid transparent;border-left: 12px solid transparent;position: absolute;top: -12px;right: 14px;z-index: 9;}
#gear-dropdown .fas, .fa {margin-top:-17px;} 

.submenu {background-color:#2C3E50; padding:10px 0 10px 0;}
	.submenu a {color:#fff; padding-left:20px;}
/*
 * Media Queries
 */

@media (min-width: 768px) {
  .sidebar {position: fixed;top: 135px;bottom: 0;left: 0;z-index: 1000;display: block;padding: 20px;overflow-x: hidden;overflow-y: auto;background-color: #d3e5e7;border-right: 1px solid #eee;}
  .main {padding-right: 40px;padding-left: 40px;}
}