/*
 * Base structure
 */

 /* -- Color Reference -- 

 Green - #3caa67
 Blue - #0e77eb
 Light Grey - #f6f6f6
 Text - #373542
*/

body {padding-top: 50px; font-family: 'Montserrat', sans-serif; font-size:12px; color:#373542;}
.sub-header {padding-bottom: 10px;border-bottom: 1px solid #eee;}
.navbar-fixed-top {border: 0;}
.logo-bar {height:99px; background-color:#f6f6f6;}
#logo {margin-top:0px;}
    #logo img {width:75%;}
.main {padding: 20px 20px 150px 20px; margin-top:80px;}
.main .page-header {margin-top: 0;}
.green-bar {height:20px; background: #3dab64;
background: -moz-linear-gradient(-45deg, #3dab64 0%, #0c75f0 100%);
background: -webkit-linear-gradient(-45deg, #3dab64 0%,#0c75f0 100%);
background: linear-gradient(135deg, #3dab64 0%,#0c75f0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dab64', endColorstr='#0c75f0',GradientType=1 );}
.red-bar {height:20px; background:url(../images/red-header-bar.jpg) repeat-x;}
.col-md-offset-2 {margin-left:10%;}
a {color:#2894a0;}
a:hover {color:#3dab65;}
a:focus, a:hover {color:#3dab65;}
.no-left-padding {padding-left:0px;}
hr {clear:both;}
.spacer {margin:40px 0; clear:both;}
.panel-footer {background-color:#fff !important; border-top:0px !important;}
.panel-heading {background-color:#eee !important; color:#173b5c !important;}
.header-search {width:50% !important;}

/* -- Header Navigation -- */
.sidebar {display: none; width:10% !important;}
    .sidebar li {border-bottom:1px solid #988d8c; font-size:14px;}
    .sidebar li a {padding-top:20px; padding-bottom:20px; color:#2c3e50;}
        .sidebar li a:hover {color:#3dab65; background-position: left bottom;}
.nav-sidebar {margin-right: -21px;margin-bottom: 20px;margin-left: -20px;}
.nav-sidebar > li > a {}
.nav-sidebar ul i {display:block;}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {color: #3dab65;background-color: #3dab65;}
.search-icon {height:34px;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {color:#3dab65;}
#gear-dropdown > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {color:#3dab65;}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {color:#3dab65;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {background:none;}

.navbar-inverse .navbar-nav > li >a {color: #2894a0;}

/* -- Left Column Navigation -- */
.navbar-right a {font-size:24px;}
.navbar-right-pushdown {margin-top:32px;}
.navbar-right-pushdown-icons {margin-top:22px;}
.navbar-right {margin-right:0px;}
#gear-dropdown>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {background:#fff;}
.dropdown-menu>li>a {color:#428bca;font-size:14px;}
.dropdown ul.dropdown-menu {border-radius:4px;box-shadow:none;margin-top:20px;width:300px;font-size:14px;}
.dropdown ul.dropdown-menu:before {content: "";border-bottom: 10px solid #fff;border-right: 10px solid transparent;border-left: 10px solid transparent;position: absolute;top: -10px;right: 16px;z-index: 10;}
.dropdown ul.dropdown-menu:after {content: "";border-bottom: 12px solid #ccc;border-right: 12px solid transparent;border-left: 12px solid transparent;position: absolute;top: -12px;right: 14px;z-index: 9;}
.submenu {background-color:#f6f6f6; padding:10px 0 10px 0;}
    .submenu a {color:#fff; padding-left:20px;}
.main-menu ul,li, nav,a{margin:0;padding:0;}
#vertical-menu{margin-top:20px;display:inline-block;margin-left:20px;}
.main-menu li{position:relative;box-shadow:0 -1px 0 0 #173b5c, 0 -1px 0 0 #173b5c;}
.main-menu>li>a>i{color:#373542;width:20px;height:100%;line-height:50px;text-align:left; }
.main-menu>li:first-child, .submenu-1>li:first-child, .submenu-2>li:first-child, .submenu-3>li:first-child{box-shadow:none;}
.main-menu>li>a, .submenu-1>li>a, .submenu-2>li>a,.submenu-3>li>a{color:#373542;background:#eee;display:block;padding:15px;}
 .submenu-1,.submenu-2, .submenu-3{position:absolute;white-space:nowrap;top:-9999px; border-left:2px solid #44af69;}
.contain-submenu>a:first-child::after{padding-left:1em;}
.main-menu>li:hover .submenu-1, .submenu-1>li:hover .submenu-2, .submenu-2>li:hover .submenu-3{top:0;  left:100%; list-style-type:none;}
.main-menu>li:hover>a{color:#3dab65;}
.submenu-1 li:hover>a{color:#3dab65;}
.submenu-2 li:hover>a{color:#3dab65;}
.submenu-3 li:hover>a{color:#3dab65;}


/* -- Text Styles -- */
h1 {font-size:30px; color:#373542;}
h3 {color:#173b5c; font-size:20px;}
.sub-text {font-size:12px;}
.news-headline {font-weight:bold;}
.center {text-align:center;}
.green {color:#44af69;}
.red {color:#e74b3c;}
.yellow {color:#f49d12;}
.or-divider {margin:0 15px;}
.white {color:#fff;}
.enviro-version {color:#fff;}

/* -- Buttons and Call to Actions -- */
.btn-primary {background-color:transparent; border:2px solid #3caa67; transition: 0.78s;}
    .btn-primary:hover {background: #3dab64;
background: -moz-linear-gradient(-45deg, #3dab64 0%, #0c75f0 100%);
background: -webkit-linear-gradient(-45deg, #3dab64 0%,#0c75f0 100%);
background: linear-gradient(135deg, #3dab64 0%,#0c75f0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dab64', endColorstr='#0c75f0',GradientType=1 );}
    .btn-primary-icon {color:#296c40;}
.delete-icon {color:#E74C3C;}
.green-icon {color:#4eb371;}
span.step {background: #44af69; margin-top:-3px; border-radius: 0.8em;-moz-border-radius: 0.8em;-webkit-border-radius: 0.8em;color: #ffffff;display: inline-block;font-weight: bold;line-height: 1.6em;margin-right: 5px;text-align: center;width: 2.6em; }
.slide:hover,.slide:focus {box-shadow: inset 9.9em 0 0 0 var(--hover);}
.slide {--color: #8fc866;--hover: #3caa67;}
button {color: var(--color);transition: 0.25s;}
button:hover, button:focus {border-color: var(--hover);color: #fff;}

/* -- Pagination -- */
.page-counter {float:left; width:50px;}
.pagination-previous {background-color:#eee; float:left; width:10px; padding:7px 10px; margin-right:5px;}
    .pagination-previous:hover {background-color:#ccc;}
.pagination-next {background-color:#eee; float:left; width:10px; padding:7px 10px; margin:0 5px;}
    .pagination-next:hover {background-color:#ccc;}
#pagination p {float:left;}
#pagination select {display:inline; width:80px;}
#pagination .fas {margin-left:-4px;}
#pagination a {color:#333;}
    #pagination a:hover {color:#000;}
.pagination-divider {margin:5px 5px 0 5px;}
.page-of {margin-top:7px;}

/* -- Teams --*/
.team-box {text-align:center; border:1px solid #ccc; background-color:#eee; padding-top:15px; padding-bottom:15px; margin-right:15px; margin-top:15px;}
.team-box-icon {font-size:36px;}
.team-name {font-size:24px;}
.account-box {text-align:center; border-radius:20%; border:1px solid #ccc; background-color:#fff; padding-top:15px; padding-bottom:15px; margin-right:15px; margin-top:15px; cursor:pointer;}
    .account-box:hover {background-color:#eee;}
    .account-box p {margin-bottom:0px;}
.account-box-icon {font-size:36px;}
.account-name {font-size:24px;}

/* -- Animation --*/
.spinEffect{transform: rotate(90deg);-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);}
.rotate { -moz-transition: all .5s linear;-webkit-transition: all .5s linear;transition: all .5s linear;}
.rotate.down {-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);}

/* -- Table Styles -- */
tr {cursor:pointer;-webkit-transition: background 350ms ease-in;-moz-transition: background 350ms ease-in;-ms-transition: background 350ms ease-in;-o-transition: background 350ms ease-in;transition: background 300ms ease-in;}
tr:hover {background-color:#fffee9 !important;}
.bom-table {margin-top:10px;}
.not-avail {border-left:3px solid #e74b3c;}
.assigned {border-left:3px solid #f49d12;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {border-left:1px solid #eee;}
.schedule-table th {border-top:1px solid #eee; background-color:#eee;}
.select-all-column {width:10%;}
.schedule-table th {border-top:1px solid #eee; background-color:#eee;}

/* -- Status Buttons -- */
.status-button {color:#fff; font-size:11px; padding:3px 10px; text-align:center;}
    .red-bg {background-color:#e74b3c;}
    .yellow-bg {background-color: #f39c11;}
    .green-bg {background-color:#18BC9C;}
    .red-text {background-color:#e74b3c;}
    .yellow-text {background-color: #f39c11;}
    .green-text {background-color:#18BC9C;}


/* -- Search Page -- */
.search-results-column {margin-top:15px;}
.results-btn {margin-left:15px; margin-right:15px;}
.search-results li a {font-size:14px;}
.solo-search-results a {font-size:14px;}

/* -- Slide Out Drawer -- */
.drawer-wrapper {text-align:center; padding-top:10px;}
.drawer-icons {}
.drawer {bottom: -10px;height: 140px;overflow: hidden;position: fixed;width: 100%;z-index: 5;}
.drawer > header {background: #373542;color: #ffffff;display: block;height: 25px;line-height: 25px;margin: auto;overflow: hidden;padding: 5px;text-align: center;width: 250px;-moz-border-radius-topleft: 25px 40px;-moz-border-radius-topright: 25px 40px;border-top-left-radius: 25px 40px;border-top-right-radius: 25px 40px;}
.drawer-content {background: #373542;border-collapse: collapse;border-top: 5px solid #373542;height: 110px;width: 100%;}
.clickme {cursor: pointer;}
.drawer-items {margin: auto;width: 960px;}
.drawer-items ul {margin: 0px;}
.drawer-items li {float: left;list-style: none;margin-left: 0px;width: 200px;}
.drawer-items li a {color: #fff;display: block;height: 86px;padding: 12px;text-decoration: none;width: 176px;}
.drawer-items li a:hover {background: #3dab65;}
.drawer-items .title {color: #c4c4c4;font-size: 20px;line-height: 1.1;}
.drawer p {color:#fff;}

/* -- Form Elements -- */
.header-search-bar {width:105%; margin-right:25px;}
.filter-wrapper {margin-left:250px;}
label {font-weight:normal;}
.dropzone-wrapper {padding-left:5px;}
    .dropzone {height:200px; width:50%; background-color:#cffedf; text-align:center; color:#60c583; padding-top:60px; margin-bottom:15px; border:5px dashed #ccc; }
.search-op {margin-bottom:14px;}
#test-connection {display:inline; width:50%;}
    .test-connection-button {margin-top:-3px;}
.form-horizontal .control-label {text-align:left;}


/*-- Toggle option 1 -- */
.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  width: 4rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle:before {
  content: 'Off';
  left: -4rem;
}
.btn-toggle:after {
  content: 'On';
  right: -4rem;
  opacity: 0.5;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.active:before {
  opacity: 0.5;
}
.btn-toggle.active:after {
  opacity: 1;
}

.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}
.btn-toggle.active {
  background-color: #29b5a8;
}
.btn-toggle.btn-lg {
  margin: 0 5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;
}
.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
  outline: none;
}
.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  width: 5rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
  font-size:12px;
}
.btn-toggle.btn-lg:before {
  content: 'No';
  left: -5rem;
}
.btn-toggle.btn-lg:after {
  content: 'Yes';
  right: -5rem;
  opacity: 0.5;
}
.btn-toggle.btn-lg > .handle {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-lg.active > .handle {
  left: 2.8125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-lg.active:after {
  opacity: 1;
}

/* -- Toggle Option 2 -- */
.switch {
  position: relative;
}
.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}
.switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * .8) * 2);
  border-radius: calc(2.375rem * .8);
  height: calc(2.375rem * .8);
  line-height: calc(2.375rem * .8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}
.switch input + label::before,
.switch input + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375rem * .8) * 2);
  bottom: 0;
  display: block;
}
.switch input + label::before {
  right: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * .8);
  transition: 0.2s all;
}
.switch input + label::after {
  top: 2px;
  left: 2px;
  width: calc(calc(2.375rem * .8) - calc(2px * 2));
  height: calc(calc(2.375rem * .8) - calc(2px * 2));
  border-radius: 50%;
  background-color: white;
  transition: 0.2s all;
}
.switch input:checked + label::before {
  background-color: #3caa67;
}
.switch input:checked + label::after {
  margin-left: calc(2.375rem * .8);
}
.switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}
.switch input:disabled + label::before {
  background-color: #e9ecef;
}
    
/* -- Equipment Section -- */
.equipment-card {padding:20px 0; border:1px solid #173b5c; text-align:center; position:relative; margin-top:20px;}
.bom-link {background-color:#173b5c; position:absolute; bottom:0px; left:0px; width:100%; padding:10px 0; font-size:16px; color:#fff;}
.view-image-modal {text-align:center;}

/* -- Schedule Ticket Section -- */
.find-first-avail {background-color:#3699dc; width:100px; text-align:center; color:#fff; border-radius:5px; padding:15px 0; font-size:12px; margin:0 15px 0 0;}
    .first-avail-icon {font-size:34px;}
    .find-first-avail p {margin-top:10px;}

/* -- News Page -- */
.article-summary-wrapper {margin-bottom:25px; border-bottom:1px solid #eee; padding-bottom:15px;}
.article-summary h3 {text-transform:uppercase; margin-bottom:0px; margin-top:0px;}
.article-thumbnail {margin-right:25px;}
.article-date {margin-top:0px;}
.full-article-image {width:25%; margin:25px;}

/* -- Circle Tabs -- */

.design-process-section {margin:25px 0;}


.design-process-section .text-align-center {
    line-height: 25px;
    margin-bottom: 12px;
}
.design-process-content {
    border: 1px solid #e9e9e9;
    position: relative;
    padding: 16px 34% 30px 30px;
}
.design-process-content img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    max-height: 100%;
}
.design-process-content h3 {
    margin-bottom: 16px;
}
.design-process-content p {
    line-height: 26px;
    margin-bottom: 12px;
}
.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 800px;
    border: none;
    z-index: 0;
}
.process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    right: -30px;
    top: 33px;
    width: 85%;
    z-index: -1;
}
.process-model li.visited::after {
    background: #988e8d;
}
.process-model li:last-child::after {
    width: 0;
}
.process-model li {
    display: inline-block;
    width: 15%;
    text-align: center;
    float: none;
}
.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;

}
.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
}
.process-model li.active,
.process-model li.visited {
    color: #57b87b;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #3699dc;
}
.process-model li.active p,
.process-model li.visited p {
    font-weight: 600;
}
.process-model li i {
    display: block;
    height: 68px;
    width: 68px;
    text-align: center;
    margin: 0 auto;
    background: #f5f6f7;
    border: 2px solid #e5e5e5;
    line-height: 65px;
    font-size: 24px;
    border-radius: 50%;
}
.process-model li.active i, .process-model li.visited i  {
    background: #fff;
    border-color: #3699dc;
}
.process-model li p {
    font-size: 14px;
    margin-top: 11px;
}
.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
    color: #606060!important;
    font-weight: normal
}
.process-model.contact-us-tab li::after  {
    display: none; 
}
.process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5; 
}


/* --  Media Queries -- */
@media (max-width: 1350px) {
.sidebar li {font-size:12px;}
}

@media (max-width: 768px) {
    h1 {font-size:24px;}
    .hide-on-mobile {display:none;}
}


@media (min-width: 768px) {
  .sidebar {position: fixed;top: 100px;bottom: 0;left: 0;z-index: 1000;display: block;padding: 20px;background-color: #f6f6f6;border-right: 1px solid #eee;}
  .main {padding-right: 40px;padding-left: 40px;}
}

@media screen and (max-width: 560px) {
  .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
}
@media screen and (max-width: 380px) { 
    .process-model.more-icon-preocess li {
        width: 16%;
    }
    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }
    .more-icon-preocess.process-model li::after {
        top: 18px;
    }
    .process-model.more-icon-preocess {
        text-align: center;
    }
}