/* -- Structure -- */
body {background-color:#f8f9fa; font-family: 'Merriweather', serif; line-height:26px; color:#474646;}
.title-screen {background-color:#50d1c7; padding:50px;}
.intro-copy {margin-top:40px; margin-bottom:40px;}
.giving-back {margin-top:40px; margin-bottom:200px;}
.skills {margin-top:40px;}
.education {background:url(../images/education-background.jpg) repeat; padding:50px; margin-top:40px;}
.navbar {padding-left:0px;}
.card {text-align:center; min-height:265px;}
	.card img {display:block; margin:15px auto;}

/* -- Text and Links -- */
h1 {font-family: 'Montserrat', sans-serif; color:#fff;}
h2 {font-family: 'Montserrat', sans-serif;}
h3 {font-family: 'Montserrat', sans-serif; color:#26635e;}
a {color:#499BDE;}
	a:hover {color:#4DCBE8;}
.white-link {color:#fff;}
	.white-link:hover {color:#fff;}

/* -- Images and Icons -- */
.intro-image {margin-top:-30px;}
.noaa-logo {width:50%;}
.npf-logo {width:80%;}
.anrf-logo {width:50%;}

/* -- Portfolio Page -- */
.thumbnail {width:100%;}
.description {margin-left:15px;}
.portfolio-item {margin-bottom:50px;}
.active a {border-bottom:1px solid #50d1c7;}
.expand {background-color:#333; -webkit-box-shadow: 1px 1px 3px 1px #4D4D4D;
box-shadow: 1px 1px 3px 1px #4D4D4D; color:#fff; padding:3px; text-align:center; font-size:12px;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {border-color: #dee2e6 #dee2e6 #fff; border-bottom:5px solid #f8f9fa;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {border-bottom:5px solid #ffcdb2;}
.nav-tabs .nav-item {margin-right:15px;}

/* -- Media Queries -- */

@media screen and (max-width: 768px) {
.intro-image {display:none;}
h1 {font-size:24px;}
h2, h3 {font-size:20px;}
.card {margin-bottom:15px;}
#myTabContent .col-md-3 {margin-bottom:15px;}
}
