/* -- Structure -- */
body {background-color:#f8f9fa; font-family: 'Merriweather', serif; line-height:26px; color:#474646;}
.title-screen {background-color:#3893b9; padding:50px; color:#eee;}
	.title-screen a {text-decoration:underline;}
.intro-copy {margin-top:40px; margin-bottom:40px;}
.giving-back {margin-top:40px; margin-bottom:200px;}
.skills {margin-top:40px;}
.education {background:url(../images/education-bg.jpg) no-repeat; padding:50px; margin-top:40px;}
	.education h3 {color:#fff;}
	.education p {color:#fff;}
.navbar {padding-left:0px;}
.card {text-align:center; min-height:265px; box-shadow:
  0 0px 2.2px -9px rgba(0, 0, 0, 0.02),
  0 0px 5.3px -9px rgba(0, 0, 0, 0.028),
  0 0px 10px -9px rgba(0, 0, 0, 0.035),
  0 0px 17.9px -9px rgba(0, 0, 0, 0.042),
  0 0px 33.4px -9px rgba(0, 0, 0, 0.05),
  0 0px 80px -9px rgba(0, 0, 0, 0.07)
; -webkit-transition: all 200ms ease-in;
-moz-transition: all 200ms ease-in;
-ms-transition: all 200ms ease-in;
-o-transition: all 200ms ease-in;
transition: all 200ms ease-in;}
.logo-card {min-height:auto;}
.port-thumb {margin:-40px auto 0px auto !important;}
	.card img {display:block; margin:15px auto;}
	.card-edu {margin-bottom:0px;}
	.card-body {background-color:#fbf9f9; border-top:1px solid #ccc; color:#474646;}
		.card-body p {color:#474646;}
	.card-body-port {border-top:0px; background-color:#fff; text-align:left;}
	.port-card-text {font-size:14px; margin-bottom:0px;}
hr {margin-left:-15px; margin-right:-15px;}
.blue {color:#3893B9;}

/* -- Text and Links -- */
h1 {font-family: 'Montserrat', sans-serif; color:#fff;}
h2 {font-family: 'Montserrat', sans-serif;}
h3 {font-family: 'Montserrat', sans-serif; color:#26635e; font-size:22px;}
h4 {font-family: 'Montserrat', sans-serif; color:#26635e; font-size:16px;}
h5 {font-family: 'Montserrat', sans-serif; color:#26635e; font-weight:bold;}
a {color:#499BDE;}
	a:hover {color:#4DCBE8;}
.white-link {color:#fff;}
	.white-link:hover {color:#fff;}
ul {list-style-type:square;}
.port-headline {margin-bottom:60px;}
.btn-primary {background-color:#3893B9; border:1px solid #3287ab; font-size:14px; padding: .275rem .55rem;}
	.btn-primary:hover,focus {background-color:#40acd9; cursor:pointer;}

/* -- Images and Icons -- */
.noaa-logo {width:50%;}
.npf-logo {width:80%;}
.anrf-logo {width:50%;}
.profile {width:100%;}

.bd-placeholder-img {font-size: 1.125rem;text-anchor: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
      @media (min-width: 768px) {.bd-placeholder-img-lg {font-size: 3.5rem;}}

.featurette-divider {margin: 5rem 0; /* Space out the Bootstrap <hr> more */}
.featurette-heading {font-weight: 300;line-height: 1;letter-spacing: -.05rem;}
.marketing .col-lg-4 {margin-bottom: 1.5rem;text-align: center;}
.marketing h2 {font-weight: 400;}
.marketing .col-lg-4 p {margin-right: .75rem;margin-left: .75rem;}

/* -- Portfolio Page -- */
.thumbnail {width:100%;}
.description {margin-left:15px;}
.portfolio-item {margin-bottom:50px;}
.active a {border-bottom:1px solid #50d1c7;}
.expand {background-color:#333; -webkit-box-shadow: 1px 1px 3px 1px #4D4D4D;
box-shadow: 1px 1px 3px 1px #4D4D4D; color:#fff; padding:3px; text-align:center; font-size:12px;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {border-color: #dee2e6 #dee2e6 #fff; border-bottom:5px solid #f8f9fa;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {border-bottom:5px solid #ffcdb2;}
.nav-tabs .nav-item {margin-right:15px;}
.port-card {margin-bottom:60px; min-height:380px;}
.port-content-container {background-color:#FAFAFA; padding:30px; margin-bottom:15px;}
.skill-text {font-size:12px; color:#919192 !important;}
.details-headline {color:#333;}
.last-feature {margin-top:0px !important;}
.port-promo {padding:0px; background-color:0px; border-radius:0px;}
  .port-promo img {width:100%;}

/* -- Contact Page -- */
.social-links {margin-top:50px;}
  .social-icon {margin-left:5px;}
  .social-icon:hover {text-decoration:none;}

/* -- Modal Drawers -- */
.modal.left .modal-dialog,
.modal.right .modal-dialog,
.modal.top .modal-dialog,
.modal.bottom .modal-dialog {
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

/* Left & Right */

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  max-width: 100%;
  height: 100%;
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog {
  left: -500px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}

.modal.right.fade .modal-dialog {
  right: -500px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

.modal.left .modal-content,
.modal.right .modal-content,
.modal.top .modal-content,
.modal.bottom .modal-content,
.modal.full .modal-content {
  border-radius: 0;
  border: none;
}

.modal.left .modal-dialog.modal-sm,
.modal.right .modal-dialog.modal-sm {
  width: 300px;
}

.modal.left .modal-dialog.modal-lg,
.modal.right .modal-dialog.modal-lg {
  width: 800px;
}

.modal.left .modal-dialog.modal-xl,
.modal.right .modal-dialog.modal-xl {
  width: 1140px;
}

/* Top and Bottom */

.modal.top .modal-dialog,
.modal.bottom .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.modal.top .modal-content,
.modal.bottom .modal-content {
  height: auto;
  overflow-y: auto;
}

.modal.top .modal-body,
.modal.bottom .modal-body {
  padding: 15px 15px;
}

/* Top */

.modal.top.fade .modal-dialog {
  top: -100%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.top.fade.show .modal-dialog {
  top: 0;
}

/* Bottom */

.modal.bottom.fade .modal-dialog {
  bottom: -100%;
  -webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  transition: opacity 0.3s linear, bottom 0.3s ease-out;
}

.modal.bottom.fade.show .modal-dialog {
  bottom: 0;
}

.modal.bottom.fade .modal-dialog {
  bottom: -100%;
}

/* Full Screen */

.modal.full .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.modal.full .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.full .close-modal {
  position: fixed;
  top: 0;
  right: 3rem;
}

/* Footer */

.modal-footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-radius: 0;
}

/* XS */

.modal.left.xs .modal-body,
.modal.right.xs .modal-body {
  padding: 15px;
}


/* -- Media Queries -- */

@media screen and (max-width: 768px) {
.intro-image {display:none;}
h1 {font-size:20px;}
h2, h3 {font-size:20px;}
.card {margin-bottom:15px;}
#myTabContent .col-md-3 {margin-bottom:15px;}
.hide-on-mobile {display:none;}
.title-screen {padding:15px;}
.education {padding:15px;}
	.education ul {padding-left:15px;}
.nav-tabs .nav-item {width:100%;}
.port-card {margin-bottom:50px;}
.featurette-divider {margin:2rem 0;}
.small-port-img {width:50%;}
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
